/* These are the font familys chose from google

font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Muli', sans-serif;
font-family: 'Nova Script', cursive;
font-family: 'Cinzel Decorative', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Cherry Swash', cursive;
*/

header h1 {
  font-family: Cinzel Decorative;
  font-size: 3rem;
  color: rgb(148, 200, 64);
  text-shadow: .1rem .16rem .2rem rgba(82, 62, 51, 1);
  margin: 1.8rem 1rem 0 1rem;
}

header section {
  font-family: Roboto Slab;
  color:rgb(82, 62, 51);
  font-weight: bold;
  margin-top: 3.3rem;
  text-align: right;
  font-size: 1.1rem;
}

header img {
  max-width: 12rem;
}

nav li a{
  font-family: Cherry Swash;
  color: rgb(82, 62, 51);
  font-weight: bold;
  font-size: 1.8rem;
  text-indent: 3rem;
  text-align: center;
  display:inline-block;
  text-decoration: none;
}

img.shadow {
  box-shadow: .7rem .7rem 1rem rgba(0, 0, 0, .3);
  display: block;
}

img.round {
  border-radius: 50%;
  max-width: 15rem;
}

figure {
  text-align: center;
}

h2 {
  font-family: Roboto Slab;
  font-size: 2rem;
  color:rgb(82, 62, 51);
  text-align: center;
}

h3 {
  font-family: Roboto Slab;
  font-size: 1.6rem;
  color:rgb(82, 62, 51);
}

p {
  font-family: Roboto Slab;
  font-size: 1.3rem;
  color:rgb(82, 62, 51);
  padding: .2rem .1rem 1rem 1rem;
}

p.instructor {
  margin:3rem;
  padding-bottom: 4rem;
}

ul {
  font-family: Roboto Slab;
  font-size: 1.4rem;
  color: rgb(82, 62, 51);
  text-shadow: .05rem .05rem rgb(148, 200, 64);
  margin: 0 4rem 0 2rem;
}

ul li {
  list-style: none;
}

.col_1_of_3 li:first-child {
  font-weight: bold;
}

.col_3_of_5 ul li:last-child {
  font-weight: bold;
}

footer p {
  font-family: Cherry Swash;
  font-weight: bold;
  font-size: 1.5rem;
}

.facebook {
  text-decoration: none;
  color: #3b5998;
}

.linkedin {
  text-decoration: none;
  color: #0077b5;
}

.twitter {
  text-decoration: none;
  color: #1da1f2;
}